<div class="accordion-card mt-3">
  <div class="accordion-header" (click)="closeOrOpen()">
    <h3 class="accordion-title">
      <i
        [ngClass]="!isOpen ? 'fas fa-plus' : 'fas fa-minus'"
        class="margin-icon"
      ></i
      >{{ prestation.title }}
    </h3>
    <p class="accordion-price">à partir de {{ prestation.price }}€</p>
  </div>
  <div
    class="accordion-content"
    [ngClass]="{ 'accordion-hidden-content': !isOpen }"
  >
    <p>
      {{ prestation.description }}
    </p>
    <em> </em>
  </div>
</div>
