.accordion-card {
  border: 1px solid transparent;
  border-color: #e1e1e1;
  border-radius: 5px;
  padding: 18px 15px 18px 40px;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 15px;
}
.accordion-price {
  font-weight: bold;
  margin-top: 16px;
  text-transform: uppercase;
  color: #ec4863;
}

.accordion-title {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.margin-icon {
  margin-right: 10px;
  color: #ec4863;
}

.accordion-hidden-content {
  display: none;
}
