.content-background {
  background-image: url("../../../../assets/images/background-home.jpg");
}

.separator-line-thick {
  height: 4px;
  margin: 0 auto;
  width: 30px;
  margin: 6% auto;
}

.no-margin-lr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.bg-fast-pink {
  background: #ff1a56;
}
