<app-home-banner></app-home-banner>
<div class="container-fluid content-background">
  <div class="container">
    <div class="row" style="padding-top: 70px; padding-bottom: 70px;">
      <div class="col-6">
        <p class="montserra" style="font-size:20px;">VOTRE</p>
        <h2>
          ESTHETICIENNE À DOMICILE
          <br />
          <span>A Grenoble</span>
        </h2>
        <div class="separator-line-thick bg-fast-pink no-margin-lr"></div>
        <p>
          Envie d'un moment de bien-être, d'une mise en beauté ou d'une
          épilations soignée et durable ? Alors confiez en toute confiance votre
          beauté aux mains expertes de Léa Beauté ! Des résultats visibles
          immédiatement et les conseils d'une professionnelle indépendante et
          passionnée.
        </p>
      </div>
      <div class="col-3">
        <img
          src="../../../../assets/images/spa-img.jpg"
          style="max-width: 100%;"
          alt="..."
        />
      </div>
      <div class="col-3">
        <img
          src="../../../../assets/images/spa-img2.jpg"
          style="max-width: 100%;"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
