/*
 * Styles
 */
body,
html {
  margin: 0;
  padding: 0;
}

.navbar-custom {
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
  background-color: white;
}

.logo-title {
  font-family: "Parisienne", cursive;
  color: rgba(0, 0, 0, 0.5);
}

.nav-item-brand {
  margin-top: -20px;
}

main {
  font-family: 'Dancing Script', cursive;
}

.nav-item {
  font-size: 1.2em;
}

.navbar-nav .nav-link, .navbar-nav .nav-link-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

.navbar-nav .nav-link-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

.nav-link-brand, .nav-link-brand:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  color: #ECBDC4 !important;
}

.nav-link:after {
  content: '';
  display: flex;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ECBDC4;
}

.nav-link:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.nav-link:hover:after, .nav-link:focus:after {
  opacity: 1;
  transform: translateY(0);
}

.nav-link:hover:after, .nav-link:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}
