.navbar-items {
  height: 3.125em;
}

.navbar-brand:hover {
  color: black;
  text-decoration: none;
}

.logo-title {
  font-family: "Parisienne", cursive;
  font-size: 3em;
  color: black;
}

.navbar-custom {
  color: #9B9B9B;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
  font-size: 1.2em;
}

.navbar-item a {
  text-decoration: none;
  color: inherit;
}

.navbar-link a:hover {
  color: #ECBDC4;
}

.navbar-link a:after {
  content: '';
  display: flex;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ECBDC4;
}

.navbar-link a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}

.navbar-link a:hover:after, .navbar-link a:focus:after {
  opacity: 1;
  transform: translateY(0);
}

.navbar-link a:hover:after, .navbar-link a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

@media only screen and (max-width: 650px) {
  .navbar-items,
.navbar-custom,
.center-navbar-items,
.left-navbar-items,
.right-navbar-items {
    flex-direction: column;
  }
  .navbar-custom,
.navbar-items {
    height: 100%;
  }
  .navbar-item {
    margin-top: 12px;
  }
}
