<!-- Navigation -->
<nav class="navbar-custom container-fluid py-5 static-top">
  <div class="container">
  <div class="navbar-items d-flex flex-row justify-content-between">
    <!--Left Nav-->
    <div class="d-flex h-100 col-md-3 align-items-center justify-content-end">
      <div class="navbar-item col-md-auto navbar-link"><a href="#">ACCUEIL </a></div>
      <div class="navbar-item col-md-auto navbar-link"><a href="#">PRESTATIONS </a></div>
      <div class="navbar-item col-md-auto navbar-link"><a href="#">GALLERIE </a></div>
    </div>
    
    <!--Middle Nav-->
    <div class="d-flex h-100 align-items-center">
      <a class="navbar-brand logo-title" href="#">Élegant & Glamorous</a>
    </div>
    <!--Right Nav-->
    <div class="d-flex h-100 col-md-3 align-items-center">
      <div class="navbar-item col-md-auto navbar-link"><a href="#">CONTACT </a></div>
      <div class="navbar-item col-md-auto navbar-link"><a class="fab fa-instagram fa-2x" href="#"></a></div>
      <div class="navbar-item col-md-auto navbar-link"><a class="fab fa-facebook fa-2x" href="#"></a></div>
    </div>
  </div>
  </div>
</nav>