<nav class="navbar navbar-expand-lg navbar-custom navbar-light fixed-top" [ngClass]= "sticky ? 'py-2': 'py-5' "#stickyMenu>
  <div class="container">
    <span class="logo-title d-lg-none">Elegant & Glamour</span>
    <button
      class="navbar-toggler mr-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbar10"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" [ngClass]="{ 'show': navbarOpen }" id="navbar10">
      <ul class="navbar-nav justify-content-between w-100 align-items-start ">
        <li class="nav-item">
          <a routerLink="home" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLink="prestations" class="nav-link">Préstations</a>
        </li>
        <li class="nav-item">
          <a routerLink="gallery" class="nav-link">Galerie</a>
        </li>
        <li class="d-none d-lg-block float">
          <h1 class="logo-title" [ngStyle]="{'font-size': sticky ? '2em': '3em'}">
            <a class="nav-link-brand" href="#">Elegant & Glamour</a>
          </h1>
        </li>
        <li class="nav-item">
          <a routerLink="appointment" class="nav-link">Rendez-vous</a>
        </li>
        <li class="nav-item">
          <a routerLink="gift" class="nav-link">Bon Cadeau</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fab fa-instagram fa-2x" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fab fa-facebook fa-2x" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
